.houseWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 220px;
    width: 380px;
}
.HouseImg{
    width: 380px;
    /* height: 100%; */
}
.name{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
}
.txt{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
}
.line{
    text-decoration-line: line-through;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
margin: 0;
}
.price{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
}
.bottom{
    border-top: 1px solid#E6E9EC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 20px;
    margin-top: 20px;
}
.btn{
    display: flex;
    gap: 20px;
    padding-right: 20px;
    align-items: center;
}
.info{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.Apartment{
    padding:20px 20px 0px 20px;

}
.LikeWraper{
    background-color: #F6F8F9;
    padding: 10px;
    border-radius: 50%;
    opacity: 0.7;
    size: 35px;
    line-height: 0;
}
.LikeWraper:hover{
    opacity: 1;
}
.resizer{
    opacity: 0.7;
}
.resizer:hover{
    opacity: 1;
}
.infocat{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgsize{
    width: 17px;
    height: 17px;
}

.relative{
    position: relative;
}
.avatar{
    position: absolute;
    top: -19px;
    right: 10px;
    width: 38px;
    height: 38px;
    border: 2px solid white;
    overflow: hidden;
    background-color: rgb(230, 204, 204);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar img{
    /* width: 100%; */
    height: 100%;
}
.Salelight{
    background-color: var(--backgroundPrimary);
    color: white;
    position: absolute;
    top: -200px;
    left: 10px;
    padding: 5px;
    border-radius: 3px;
    font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 13px;
}
.Sale{
    background-color: var(--colorPrimary);
    color: white;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 13px;
left: 310px !important;
    top: -200px;
    right: 10px !important;
}

.inline{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}